.pricing {
  .number-spinner .btn {
    min-height: 40px;
  }
  .cart {
    padding: 30px;
    background: #fff;
    border: 1px solid @gray-light;
    border-radius: 3px;
  }
  background: @gray-lighter;
  .container {
    padding: 80px;
    @media (max-device-width: @screen-xs-min) {
      padding: 30px;
    }
  }
  h1 {
    margin-bottom: 50px;
    font-size: 30px;
    text-align: center;
    font-family: @font-datil-light;
  }
  .cart-item {
    border-bottom: 1px solid darken(@gray-lighter, 7%);
    margin-bottom: 15px;
    .item-desc {
      p {
        line-height: 40px;
      }
    }
    .form-group {
      margin-bottom: 0;
    }
    .item-price {
      font-family: @font-datil-regular;
      text-align: right;
      line-height: 40px;
    }
  }
  .cart-totals {
    .total {
      text-align: right;
      line-height: 30px;
    }
    .title {
      font-family: @font-datil-regular;
    }
  }
  .buttons {
    padding: 25px 0 10px;
    text-align: center;
    .btn {
      min-width: 200px;
    }
  }
}

@media ( max-width: 585px ) {
  .input-group span.input-group-btn,.input-group input,.input-group button {
    display: block;
    width: 100%;
    border-radius: 0;
    margin: 0;
  }
  .input-group {
    position: relative;
  }
  .input-group span.data-up {
    position: absolute;
    top: 0;
  }
  .input-group span.data-dwn {
    position: absolute;
    bottom: 0;
  }
  .form-control.text-center {
    margin: 34px 0;
  }
  .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
    margin-left:0;
  }
}